<!--The content below is only a placeholder and can be replaced.-->
<app-nav></app-nav>
<!-- <app-home></app-home>
<app-page-not-found></app-page-not-found> -->
<!-- <app-add-item></app-add-item>
<app-list-items></app-list-items> -->
<router-outlet></router-outlet>
<!-- Routed views go here -->

