<form (ngSubmit)="process()" class="container form" [formGroup]="form" novalidate>
    <div class="form-group">
      <label for="exampleInputEmail1">Nom et prénom</label>
      <input type="text" class="form-control"  placeholder="nom et prénom" formControlName="name">

      <div class="alert alert-danger" *ngIf="isError('name')" ></div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control"  placeholder="ref"  formControlName="reference">

      <div class="alert alert-danger" *ngIf="isError('reference')" >champ invalide</div>
    </div>

    <div class="form-group">
      <select class="form-control"  formControlName="state">
        <option *ngFor="let libelle of libelles" [ngValue] = "libelle">{{ libelle }}</option>
      </select>

    </div>
    <button type="submit" [disabled]="" class="btn btn-primary">Submit</button>
  </form>
