<div class="card">
  <div class="card-header">
    <span [appState]="item.state">{{ item.state }}</span>
  </div>
  <div class="card-body">
    <h5 class="card-title">Nom et prénom {{ item.name }}</h5>
    <p class="card-text">Référence {{item.reference}}</p>
    <button  class="btn btn-primary" *ngIf="item.state === state.ALIVRER" (click)="changeState(state.ENCOURS)">{{state.ENCOURS}}</button>
    <button  class="btn btn-primary" *ngIf="item.state === state.ENCOURS" (click)="changeState(state.LIVRE)">{{state.LIVRE}}</button>
  </div>
</div>
